.clock {
  margin-top: 30px;

  h2 {
    font-size: 18px;
    color: #6c757d;
  }

  h1 {
    font-size: 36px;
    color: #212529;
  }
}

.countdown {
  font-size: 60px;
  color: #dc3545;
  margin: 30px 0;
}

ion-button {
  margin-top: 20px;
}
