<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>Add Items</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToProfile()" title="Go to Inventory">
        <ion-icon slot="icon-only" name="cube-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: white !important;">
  <div class="form-container">
    <form (submit)="addItem()" novalidate>
      <ion-item class="custom-input-item" lines="full">
        <ion-label position="floating" color="medium">Item Name</ion-label>
        <ion-input [(ngModel)]="itemName" name="itemName" required></ion-input>
      </ion-item>

      <ion-item class="custom-input-item" lines="full">
        <ion-label>Status</ion-label>
        <ion-select [(ngModel)]="status" name="status" interface="popover" required>
          <ion-select-option value="Enabled">Enabled</ion-select-option>
          <ion-select-option value="Disabled">Disabled</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="custom-input-item" lines="full">
  <ion-label>Item Group</ion-label>
  <ion-select [(ngModel)]="itemGroup" name="itemGroup" interface="popover" required>
    <ion-select-option value="Consumable">Consumable</ion-select-option>
    <ion-select-option value="Products">Products</ion-select-option>
    <ion-select-option value="Raw Material">Raw Material</ion-select-option>
    <ion-select-option value="Services">Services</ion-select-option>
    <ion-select-option value="Sub Assemblies">Sub Assemblies</ion-select-option>
  </ion-select>
</ion-item>


      <ion-item class="custom-input-item" lines="full">
        <ion-label position="floating" color="medium">ID</ion-label>
        <ion-input [(ngModel)]="id" name="id" required></ion-input>
      </ion-item>

      <div class="button-container">
        <ion-button type="submit" color="secondary" class="add-button" shape="round" size="default">
          Add Item
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
